<%= form_with(model: role) do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <h5>Role-Permissions</h5>
  <div class="field">
    <%= f.label :read %>
    <%= f.check_box :read, checked:  @role.permissions[:read] =="1" ? true : false %>
  </div>

  <div class="field">
    <%= f.label :write %>
    <%= f.check_box :write, checked:  @role.permissions[:write] =="1" ? true : false %>
  </div>

  <div class="field">
    <%= f.label :destroy %>
    <%= f.check_box :destroy, checked:  @role.permissions[:destroy] =="1" ? true : false %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
